/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #0e99c4;
  --ifm-color-primary-dark: #0e99c4;
  --ifm-color-primary-darker: #0e99c4;
  --ifm-color-primary-darkest: #0e99c4;
  --ifm-color-primary-light: #020436;
  --ifm-color-primary-lighter: #020436;
  --ifm-color-primary-lightest: #020436;
  --ifm-code-font-size: 95%;
  --ifm-background-color: #f6f6f2;
  --ifm-footer-background-color: #f6f6f2;
  --ifm-footer-color: #01345B;
  --ifm-navbar-background-color: #000000;
  --ifm-navbar-link-color: #FFFFFF;
  --ifm-navbar-link-hover-color: #FFFFFF;
  --ifm-navbar-height: 80px;
  --ifm-dropdown-background-color: #050a1b;
  --ifm-dropdown-link-color: #0e99c4;
}

.docusaurus-highlight-code-line {
  background-color: #020436;
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.navbar__item {
  font-weight: 700;
  letter-spacing: 0.05em;
}

.navbar__toggle svg path {
  stroke: var(--ifm-navbar-link-color);
}

.navbar__title {
  font-family: 'Poppins';
  font-weight: 900;
  letter-spacing: -1px;
}

.container {
  max-width: calc(1100px);
}

#homeTitle {
  margin-top: 20px;
  padding-top: 0px;
}

#moneyAmounts {
  margin-left: 10px;
  margin-right: 50px;
}

#goalAmounts {
  margin-left: 10px;
}

#goalAmounts {
  margin-left: 20px;
}

.progress {
  margin-top: 15px;
  margin-bottom: 0px;
  width: 100%;
  max-width: 1000px;
  height: 50px;
  background: #e1e4e8;
  border-radius: 25px;
  overflow: hidden;
}

.progress-bar {
  display: block;
  height: 100%;
  background: linear-gradient(90deg,#ffd33d,#ea4aaa 17%,#b34bff 34%,#01feff 51%,#ffd33d 68%,#ea4aaa 85%,#b34bff);
  background-size: 300% 100%;
  animation: progress-animation 2s linear infinite;
  width: 25.71%;
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}
 .progressTitle {
  font-weight: 900;
  font-size: 2.5em;
  letter-spacing: -2px;
 }

 #fundsRaised {
   margin-top: 30px;
   font-size: large;
   margin-bottom: 10px;
 }

 #goal {
  margin-top: 1px;
  font-size: large;
}

 #disclaimer {
  margin-top: 5px;
  font-size: small;
}

 #heroButton {
   background-color: #5ce0d8;
   color: black;
 }

 #MoonPhase {
   margin-top: 20px;
 }

 #MoonPhase5 {
  margin-top: 5px;
}

#timerContainer {
  display: flex;
}

#timerContainerMobile {
  display: none;
}

.mobile-countdown-digit {
  margin-left: 15px;
  font-size: x-large;
}

#countdownLabel {
  margin-top: 30px;
  font-size: large;
}

.base-timer {
  position: relative;
  display: flex;
  height: 150px;
  width: 150px;
  margin-left: 30px;
}

.base-timer__circle {
  fill: none;
  stroke: none;
}

.base-timer__path-elapsed {
  stroke-width: 4px;
  stroke: grey;
}

.base-timer__label {
  position: absolute;
  
  width: 150px;
  height: 150px;
  
  top: 0;
  
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 28px;
}

.base-timer__path-remaining-days {
  /* Just as thick as the original ring */
  stroke-width: 4px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: #1bab8f;
}

.base-timer__path-remaining-hours {
  /* Just as thick as the original ring */
  stroke-width: 4px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: #2980b8;
}

.base-timer__path-remaining-minutes {
  /* Just as thick as the original ring */
  stroke-width: 4px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: #8e44ad;
}

.base-timer__path-remaining-seconds {
  /* Just as thick as the original ring */
  stroke-width: 4px;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: #f39c12;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}

