@import 'variables';

// Typography

.App {
  background-color: $background;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 15px 0px 15px 0px;
  line-height: 1.35em;
}

h1 {
  font-family: $heading-font;
  font-weight: 900;
  font-size: 2.5em;
  letter-spacing: -2px;
}

h2 {
  font-family: $heading-font;
  font-weight: 900;
  font-size: 2em;
}

h3 {
  font-family: $heading-font;
  font-weight: 900;
  font-size: 1.5em;
}

h4 {
  font-family: $heading-font;
  font-weight: 900;
  font-size: 1.35em;
}

h5 {
  font-family: $heading-font;
  font-weight: 700;
  font-size: 1em;
}

h6 {
  font-family: $body-font;
  font-weight: 700;
  font-size: 0.85em;
}

p {
  max-width: 800px;
  margin: 10px 0px 10px 0px;
  // color: darken($tertiary, 25%);
  &.BigP {
    font-size: 1.25em;
  }
  &.small {
    font-size: 0.8em;
  }
  &.center {
    text-align: center;
  }
}

ol,
ul {
  max-width: 800px;
  margin: 10px 0px 10px 0px;
}

body {
  font-size: 16px;
  font-family: $body-font;
  font-weight: 400;
  width: 100%;
  text-align: left;
  word-wrap: pre-line;
  color: $secondary;
}

a {
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s linear;
  font-weight: 500;
  &:not(.Button):hover {
    color: $secondary;
  }
  &:hover {
    text-decoration: none;
  }
}

.navbar__item.dropdown:hover a {
  cursor: pointer;
  color: $primary;
}

.navbar__item.dropdown a:last-child {
  background-color: #050a1b !important;
  color: #0e99c4;
  &:hover {
    color: $primary;
  }
}

.navbar {
  a:hover {
    color: $primary;
  }
}

.footer {
  .footer__link-item {
    color: $secondary;
  }
  .footer__copyright {
    font-size: 0.8em;
  }
}

blockquote {
  font-family: 'Poppins';
  margin-top: 40px;
  font-size: 1.25em;
  font-weight: bold;
  border-left-width: 1px;
}

img {
  max-width: 100%;
  display: inline-block;
}

// Typography Utils
.Data {
  font-family: 'Roboto Mono', monospace;
  word-break: break-all;
}

// UI Elements
.Button {
  &:hover {
    background-color: $secondary;
    color: white;
  }
  font-family: $body-font;
  font-weight: bold;
  display: inline-block;
  outline: none;
  background-color: $primary;
  color: white;
  border: 2px solid transparent;
  border-radius: 10px;
  height: auto;
  padding: 10px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: all 0.15s linear;
  &.Medium {
    padding: 25px;
    font-size: 1.75em;
    min-width: 240px;
    @media (max-width: $grid) {
      font-size: 1.25em;
      min-width: 180px;
    }
  }
  &.Big {
    padding: 15px;
    font-size: 1.25em;
    min-width: 150px;
    text-align: center;
    @media (max-width: $grid) {
      padding: 15px;
      font-size: 1.25em;
      min-width: 120px;
    }
  }
  &.Outlined {
    border: 2px solid $primary;
    background-color: transparent;
    color: $primary;
    &:hover {
      border: 2px solid $tertiary;
      background-color: transparent;
      color: $tertiary;
    }
  }
  &.Secondary {
    border: 2px solid transparent;
    background-color: $secondary;
    color: white !important;
    &:hover {
      border: 2px solid transparent;
      background-color: $primary-hover;
    }
    &.Outlined {
      border: 2px solid $secondary;
      background-color: transparent;
      color: $secondary !important;
      &:hover {
        border: 2px solid $secondary-hover;
        background-color: transparent;
        color: $secondary-hover;
      }
    }
  }
  &.Simple {
    border: 2px solid transparent;
    background-color: transparent;
    color: $orange;
    &:hover {
      border: 2px solid transparent;
      background-color: transparent;
      color: $primary-hover;
    }
  }
}

// Layout

// Big Heroes for the tops of pages

.Hero {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  min-height: 50vh;
  padding: 50px;
  padding-bottom: 250px;
  padding-left: 150px;
  text-align: left;
  background-color: $primary-background;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  color: #fff;
  &__Contents {
    margin: 0 auto;
    max-width: 1200px;
  }
  button {
    margin: 15px 0px;
    background-color: $orange;
    &:hover {
      background-color: $primary;
    }
  }
  @media (max-width: $mobile) {
    padding-left: 50px;
  }
  h1 {
    font-size: 3em;
    margin: 0px;
    font-weight: 700;
    letter-spacing: 0.05em;
    @media (max-width: $mobile) {
      font-size: 2.25em;
    }
    color: white;
  }
  h2 {
    font-size: 1.75em;
    margin: 15px 0px;
    font-weight: 100;
  }
  @media (max-width: $mobile) {
    button {
      position: relative;
    }
  }
}

// Basic big block for marketing style content

.Block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 50vh;
  padding: 80px 0px;
  font-size: 1.25em;
  background: $background;
  &__Contents {
    margin: 0 auto;
    width: 100%;
    max-width: calc(1100px);
    padding: 50px 0px;
    > h1,
    h2 {
      font-weight: 700;
    }
    > p {
      font-size: 1.35em;
    }
    @media (max-width: $grid) {
      max-width: calc(100% - 50px);
    }
  }
  &.Primary {
    background-color: $primary;
    p {
      color: white;
    }
    a {
      color: $orange;
      &:hover {
        color: $secondary;
      }
    }
  }
  &.PrimaryBg {
    background-color: $primary-background;
    color: white;
    p {
      color: white;
    }
    a {
      color: $tertiary;
      &:hover {
        color: $primary;
      }
    }
    h5 {
      color: $primary;
    }
  }
  &.PrimaryDark {
    background-color: $primary-dark;
    color: white;
    p {
      color: white;
    }
    a {
      color: $orange;
      &:hover {
        color: $secondary;
      }
    }
  }
  &.Secondary {
    background-color: $secondary;
    p {
      color: white;
    }
  }
  &.Tertiary {
    background-color: $tertiary;
    p {
      color: white;
    }
  }
  &.Video {
    flex-direction: column;
  }
}

.Row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.Column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  &--25 {
    width: 25%;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  &--33 {
    width: 30%;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  &--50 {
    width: 45%;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
  &--66 {
    width: 60%;
    @media (max-width: $mobile) {
      width: 100%;
    }
  }
}

// List of items in a grid of 3 columns

.GridList {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  @media (max-width: $mobile) {
    flex-direction: column;
  }
  &__Item {
    width: 33%;
    @media (min-width: $grid + 1px) {
      &:not(:nth-child(3n)) {
        margin-right: 15px;
        width: calc(33% - 15px);
      }
    }
    @media (min-width: $mobile + 1px) and (max-width: $grid) {
      width: calc(50%);
      &:not(:nth-child(2n)) {
        margin-right: 15px;
        width: calc(50% - 15px);
      }
    }
    @media (max-width: $mobile) {
      width: calc(100%);
      margin-bottom: 25px;
    }
  }
}

.Section {
  margin-top: 50px;
}

.Contain {
  max-width: $grid;
  margin: 0 auto;
}

.View {
  padding: $base-padding;
  max-width: $grid;
  margin: 0 auto;
  width: calc(100% - 100px);
  @media (max-width: $mobile) {
    padding: $mobile-padding;
    width: calc(100% - 50px);
  }
}

// Utils

.SmallContainer {
  max-width: 600px;
  margin: 0 auto;
}

.Value {
  margin-top: 5px;
  font-size: 1.35em;
}

p.Large {
  font-size: 1.35em;
}

.Danger {
  color: $red;
}
.Success {
  color: $success;
}

.daoColor {
  color: $primary;
}

.JustifyCenter {
  justify-content: center !important;
}

.JustifyStart {
  justify-content: flex-start !important;
}

.AlignCenter {
  align-items: center !important;
}

.AlignStart {
  align-items: flex-start !important;
}

.yellowColor {
  color: #ffe593;
}

.SuccessMessage {
  position: fixed;
  top: 0;
  right: 0;
  height: auto;
  padding: 15px;
  width: 240px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $tertiary;
  p {
    color: white;
    width: 75%;
  }
  .CloseFlash {
    width: 25%;
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer;
    font-weight: 900;
  }
}

.video-container {
  overflow: hidden;
  position: relative;
  width: 100%;
}

.video-container::after {
  padding-top: 56.25%;
  display: block;
  content: '';
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// Forms

.Form {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: $base-padding;
  max-width: 600px;
  margin: 0 auto;
  button {
    margin: 0 auto;
  }
  width: calc(100% - 100px);
  &.NoCode input:not([type='checkbox']):not([type='submit']),
  &.NoCode textarea {
    max-width: 100%;
    resize: vertical;
    height: auto;
    // border-radius: 50px;
    border: none;
    width: auto;
    margin: 0px;
    outline: none !important;
    padding: 0px;
    font-size: 1em;
    transition: all 0.15s linear;
    max-width: 100px;
    // box-shadow: $shadow;
    &:focus {
      border: none;
      outline: none;
    }
  }
  &.NoCode p {
    font-size: 1.25em;
  }
  &.NoCode textarea {
    max-width: 100%;
  }
}

.Label {
  font-size: 0.85em;
  margin-bottom: 0px;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.Field {
  position: relative;
}

input:not([type='checkbox']):not([type='submit']),
textarea {
  height: 40px;
  // border-radius: 50px;
  border: 2px solid #efefef;
  width: calc(100% - 30px);
  margin: 10px 0px;
  outline: none !important;
  padding: 0px 15px;
  font-size: 1em;
  transition: all 0.15s linear;
  // box-shadow: $shadow;
  &:focus {
    border: 2px solid $tertiary;
  }
}

input[type='checkbox'] {
  float: left;
  margin-right: 10px;
  vertical-align: middle;
}

.InlineLabel {
  position: absolute;
  top: 25px;
  right: 15px;
}

textarea {
  padding: 15px;
  // border-radius: 5px;
  height: auto;
}

label {
  margin-top: 25px;
  font-size: 0.75em;
  display: block;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.TabButton {
  position: relative;
  background-color: transparent;
  color: $primary;
  padding-left: 0px;
  padding-right: 0px;
  font-weight: 700;
  &:hover {
    color: $primary-hover;
    background-color: transparent;
  }
}

select {
  appearance: none;
  border: none;
  background-color: transparent;
  font-size: 2em;
  outline: none !important;
  // restyle
  color: $primary;
  background-color: white;
  position: relative;
  // copied from normal input
  height: 40px;
  width: 100%;
  padding: 0px 15px;
  margin: 10px 0px;
  border-radius: 50px;
  box-shadow: $shadow;
}

label.Select {
  position: relative;
  width: 100%;
  &::after {
    content: '';
    // background-image: url("../assets/icon__dropdown-arrow.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    width: 36px;
    height: 36px;
    fill: $primary;
    display: block;
    position: absolute;
    right: 10px;
    bottom: 12px;
    pointer-events: none;
  }
}

// Loader
.Loading {
  position: absolute;
  top: 110px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 110px);
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  background-color: $background;
  overflow: hidden;
  img {
    display: block;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    overflow: hidden;
  }
  h5 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
  }
}

// Avatar

.Avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  vertical-align: middle;
  margin-top: -6px;
}

.DaoCard {
  border-radius: 5px;
  border: 1px solid $secondary;
  padding: 15px;
  margin-bottom: 25px;
  min-height: 280px;
}

// Breakpoint Utils

.HideMobile {
  @media (max-width: $mobile) {
    display: none;
  }
}
