@import "./variables.scss";

.daoList {
  padding: $base-padding;
}

.Search {
  background-color: $primary;
}

.HomeHero {
  display: flex;
  flex-direction: row;
  min-height: 90vh;
  color: white;
  width: 100%;
  flex-wrap: wrap;
}

.HeroButtonGroup {
  margin-top: 40px;
  @media (min-width: $mobile + 1) {
    .Button:not(:first-child) {
      margin-left: 25px;
    }
  }
  @media (max-width: $mobile) {
    display: flex;
    flex-direction: column;
    .Button:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.BigHero {
  padding-left: 0px;
  width: calc(100%);
  background: url('/img/lunar-panorama-large.png') no-repeat bottom;
  background-color: $primary-background;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  h1 {
    font-size: 3em;
    @media (max-width: $mobile) {
      font-size: 2em;
    }
    span {
      display: block;
      font-size: 0.5em;
      margin-top: 20px;
    }
  }
  @media (max-width: $grid) {
    width: calc(100%);
    padding: 25px;
  }
}

#community {
  #community_actions {
    margin: 40px 0;
    justify-content: start;
  }
  .Button:first-child {
    margin-right: 25px;
  }
}

.Social {
  display: flex;
  a {
    margin-right: 15px;
    width: 36px;
    height: 36px;
    transition: all 0.15s linear;
    svg {
      width: 36px;
      height: 36px;
      path {
        fill: $secondary;
      }
    }
  }
  a:hover svg path {
    transition: all 0.15s linear;
    fill: $tertiary;
  }
}

.Roadmap {
  .roadmap-moon-icon {
    font-size: 4.5em;
    padding-bottom:20px;
  }
}

.Home {
  .Carousel {
    position: relative;
    width: 50%;
    .Overlay {
      background-color: rgba(14, 15, 53, 0.85);
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
    &__Slide {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      .SlideBg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .Content {
        position: absolute;
        right: 50px;
        top: 50px;
        text-align: right;
        max-width: 420px;
        z-index: 3;
        h4 {
          font-size: 1em;
        }
        p {
          //font-family: $heading-font;
          //line-height: 1.35em;
          font-size: 1.25em;
        }
      }
    }
    @media (max-width: $grid) {
      width: 100%;
      min-height: 420px;
      .Content {
        h4 {
          font-size: 0.75em;
        }
        p {
          font-size: 1em;
        }
      }
    }
  }
}

.SocialItem {
  .SocialIcon {
    width: 60px;
    height: 60px;
    &:hover {
      transform: scale(1.5);
    }
    svg {
      width: 60px;
      height: 60px;
    }
  }
  &:nth-of-type(1) svg {
    fill: $red;
  }
  &:nth-of-type(2) .SocialIcon svg {
    width: 42px;
    path {
      fill: $yellow;
    }
  }
  &:nth-of-type(3) svg {
    fill: $secondary;
  }
}

.Built {
  font-size: 0.75em;
  color: white;
}


.ResponsiveIframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
