@import './variables.scss';

.daoList {
  padding: $base-padding;
}

.Search {
  background-color: $primary;
}
@media (max-width: $mobile) {
  .downArrow {
    display: none;
  }
}

.HomeHero {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/satellite-home.jpg') no-repeat;
  @media (max-width: $mobile) {
    background-position: 27% 0%;
  }
  background-size: cover;
  .mainText {
    display: flex;
    flex-direction: column;
    .titleText {
      position: relative;
      margin-top: 15%;
      margin-left: 5%;
      margin-right: 2%;
      font-size: 3em;
      color: white;
      font-family: 'Montserrat';
      font-weight: bolder;
      @media (max-width: $mobile) {
        margin-top: 30%;
        margin-right: 8%;
        margin-left: 8%;
        font-size: 2.75em;
        text-align: center;
      }
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 1.5s ease, transform 2.5s ease;
    }
    .titleTextTransition {
      opacity: 1 !important;
      transform: none !important;
    }
    .buttonContainer {
      display: flex;
      flex-direction: row;
      position: relative;
      color: white;
      margin-top: 1.5em;
      margin-left: 6%;
      font-size: 1.2em;
      width: 30em;
      @media (max-width: 768px) {
        margin-top: 1.5em;
        font-size: 1em;
        flex-direction: column;
        margin-left: 0%;
        align-items: center;
        width: 100%;
      }
      .buttonCTA {
        width: calc(35%);
        background-color: black;
        border: 2px solid #d7d9d4;
        padding: 1em;
        text-align: center;
        box-shadow: -2px 0.25em 1em 2px #b7b8b4, 2px 2px 6px #f7faf4;
        border-radius: 0.5em;
        color: #d7d9d4;
        opacity: 0;
        transform: scale(1.2);
        transition: opacity 1.5s ease, transform 2.5s ease;
        @media (max-width: 768px) {
          width: calc(65%);
          margin-right: 0em;
        }
        &:first-child {
          margin-right: 2em;
          @media (max-width: 768px) {
            margin-right: 0em;
            margin-bottom: 2em;
          }
        }
      }
      .buttonCTATransition {
        opacity: 1 !important;
        transform: none !important;
      }
      a {
        color: #d7d9d4;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .downArrow {
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
    bottom: 10px;
    align-items: center;
    text-align: center;
  }
}

.Goal_Block {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/objectives-background.jpg') no-repeat top;
  background-size: cover;
  color: white;
  .Block__Contents {
    margin-top: 5em;
    .titleText3 {
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 4s, transform 4s;
    }
    .titleTextTransition3 {
      opacity: 1 !important;
      transform: none !important;
    }
    @media (max-width: $mobile) {
      margin-top: 0.5em;
      h3 {
        font-size: 1.75em;
      }
    }
  }
  li {
    font-size: 1.3em;
    padding-bottom: 1em;
    @media (max-width: $mobile) {
      @media (max-height: 768px) {
        font-size: 1em;
        padding-bottom: 0.5em;
      }
    }
    span {
      color: green;
      padding-left: 5px;
    }
    .checkMark {
      opacity: 0;
      transition: opacity 3s, transform 3s;
    }
    .checkMarkTransition {
      opacity: 1 !important;
      transform: none !important;
    }
  }
  .downArrow {
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
    bottom: 10px;
    align-items: center;
    text-align: center;
  }
}

.Block_PrimaryBg {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/mission-background.jpg') no-repeat top;
  background-size: cover;
  color: white;
  .Block__Contents {
    margin-top: 5em;

    .titleText2 {
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 4s, transform 4s;
    }
    .titleTextTransition2 {
      opacity: 1 !important;
      transform: none !important;
    }
    .quote {
      margin-top: 20px;
      opacity: 0;
      transform: translateX(10em);
      transition: opacity 4s, transform 4s;
    }
    .quoteTransition {
      opacity: 1 !important;
      transform: none !important;
    }
    @media (max-width: $mobile) {
      margin-top: 0.5em;
      .titleText2 {
        font-size: 2em;
      }
      @media (max-height: 700px) {
        margin-top: 0em;
        h2 {
          font-size: 1.75em;
        }
        p {
          font-size: 0.9em;
        }
      }
    }
  }
  .downArrow {
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
    bottom: 10px;
    align-items: center;
    text-align: center;
  }
}

.Values_Block {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/values-background.jpg') no-repeat top;
  background-size: cover;
  @media (max-width: $mobile) {
    background: url('/img/values-background-mobile.jpg') no-repeat bottom;
  }
  color: white;
  .Block__Contents {
    margin-top: 5em;
    .titleText4 {
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 4s, transform 4s;
    }
    .titleTextTransition4 {
      opacity: 1 !important;
      transform: none !important;
    }
    @media (max-width: $mobile) {
      margin-top: 0.5em;
      .titleText4 {
        font-size: 1.5em;
      }
      @media (max-height: 700px) {
        p {
          font-size: 0.8em;
        }
      }
    }
  }
  .downArrow {
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
    bottom: 10px;
    align-items: center;
    text-align: center;
  }
}

.Roadmap_Block {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/roadmap-background.jpg') no-repeat top;
  background-position: 60% 0%;
  @media (max-width: $mobile) {
    background-position: 50% 60%;
  }
  background-size: cover;
  color: white;
  .Block__Contents {
    margin-top: 5em;
    .titleText5 {
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 4s, transform 4s;
    }
    .titleTextTransition5 {
      opacity: 1 !important;
      transform: none !important;
    }
    @media (max-width: $mobile) {
      margin-top: 0.5em;
    }
  }
}

.HeroButtonGroup {
  justify-content: space-between;
  .buyMooney {
    margin-right: 0em;
  }
  @media (min-width: ($mobile + 1)) {
    display: flex;
    .Button:not(:first-child) {
      margin-left: 25px;
    }
  }
  @media (max-width: 925px) {
    display: flex;
    flex-direction: column;
    .Button:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.BigHero {
  width: calc(100%);
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  h1 {
    font-size: 3em;
    color: #d7d9d4;
    @media (max-width: 925px) {
      font-size: 1.75em;
      margin-bottom: 0px;
    }
    span {
      display: block;
      font-size: 0.5em;
    }
  }
  @media (max-width: $grid) {
    width: calc(100%);
  }
}

#community {
  #community_actions {
    margin: 20px 0;
    justify-content: start;
    #actionButtons {
      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }
    .actionButton {
      width: 80%;
      @media (max-width: 768px) {
        width: 100%;
      }
      text-align: center;
    }
    .multisigDonation {
      @media (max-width: 768px) {
        font-size: 0.7em;
      }
    }
    .disclaimer {
      font-size: 0.5em;
    }
  }
  .Button {
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.Social {
  display: flex;
  margin-top: 1em;
  a {
    margin-right: 15px;
    width: 36px;
    height: 36px;
    transition: all 0.15s linear;
    svg {
      width: 36px;
      height: 36px;
      path {
        fill: $secondary;
      }
    }
  }
  a:hover svg path {
    transition: all 0.15s linear;
    fill: $tertiary;
  }
}

.Roadmap {
  .roadmap-moon-icon {
    font-size: 4.5em;
    padding-bottom: 20px;
  }
}

.Home {
  margin-top: -106px;
  background-color: black;
  @media (max-width: $mobile) {
    margin-top: -76px;
  }
  .Carousel {
    position: relative;
    width: 50%;
    .Overlay {
      background-color: rgba(14, 15, 53, 0.85);
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
    &__Slide {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      .SlideBg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .Content {
        position: absolute;
        right: 50px;
        top: 50px;
        text-align: right;
        max-width: 420px;
        z-index: 3;
        h4 {
          font-size: 1em;
        }
        p {
          font-size: 1.25em;
        }
      }
    }
    @media (max-width: $grid) {
      width: 100%;
      min-height: 420px;
      .Content {
        h4 {
          font-size: 0.75em;
        }
        p {
          font-size: 1em;
        }
      }
    }
  }
}

.SocialItem {
  .SocialIcon {
    width: 60px;
    height: 60px;
    &:hover {
      transform: scale(1.5);
    }
    svg {
      width: 60px;
      height: 60px;
    }
  }
  &:nth-of-type(1) svg {
    fill: $red;
  }
  &:nth-of-type(2) .SocialIcon svg {
    width: 42px;
    path {
      fill: $yellow;
    }
  }
  &:nth-of-type(3) svg {
    fill: $secondary;
  }
}

.Built {
  font-size: 0.75em;
  color: white;
}

.ResponsiveIframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
