@import './variables.scss';

.daoList {
  padding: $base-padding;
}

.Search {
  background-color: $primary;
}
@media (max-width: $mobile) {
  .downArrow {
    display: none;
  }
}

.HomeHero {
  position: relative;
  min-height: 100vh;
  height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/362470151-huge.jpg') no-repeat;
  @media (max-width: $mobile) {
    background-position: 27% 0%;
  }
  background-size: cover;
  .mainText {
    display: flex;
    flex-direction: column;
    .titleText {
      position: relative;
      margin-top: 15%;
      margin-left: 5%;
      margin-right: 2%;
      font-size: 3em;
      color: white;
      font-family: 'Montserrat';
      font-weight: bold;
      @media (max-width: $mobile) {
        margin-top: 30%;
        font-size: 3em;
        text-align: center;
      }
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 1.5s ease, transform 2.5s ease;
    }
    .titleTextTransition {
      opacity: 1;
      transform: none;
    }
    .buttonContainer {
      display: flex;
      flex-direction: row;
      position: relative;
      color: white;
      margin-top: 1.5em;
      margin-left: 6%;
      font-size: 1.2em;
      width: 30em;
      @media (max-width: 768px) {
        margin-top: 1.5em;
        font-size: 1em;
        flex-direction: column;
        margin-left: 0%;
        align-items: center;
        width: 100%;
      }
      .joinDiscord {
        width: calc(35%);
        background-color: black;
        border: 2px solid #d7d9d4;
        padding: 1em;
        text-align: center;
        box-shadow: -2px 0.25em 1em 2px #b7b8b4, 2px 2px 6px #f7faf4;
        border-radius: 0.5em;
        color: #d7d9d4;
        opacity: 0;
        transform: scale(1.2);
        transition: opacity 1.5s ease, transform 2.5s ease;
        @media (max-width: 768px) {
          width: calc(65%);
          margin-top: 2em;
        }
      }
      .joinDiscordTransition {
        opacity: 1;
        transform: none;
      }
      .learnMore {
        width: calc(35%);
        background-color: black;
        border: 2px solid #d7d9d4;
        padding: 1em;
        text-align: center;
        box-shadow: -2px 0.25em 1em 2px #b7b8b4, 2px 2px 6px #f7faf4;
        border-radius: 0.5em;
        color: #d7d9d4;
        margin-right: 2em;
        opacity: 0;
        transform: scale(1.2);
        transition: opacity 1.5s ease, transform 2.5s ease;
        @media (max-width: 768px) {
          width: calc(65%);
          margin-right: 0em;
        }
      }
      .learnMoreTransition {
        opacity: 1;
        transform: none;
      }
      a {
        color: #d7d9d4;
        &:hover {
          color: $primary;
        }
      }
    }
  }

  .downArrow {
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
    bottom: 10px;
    align-items: center;
    text-align: center;
  }
}

.Goal_Block {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/shutterstock_1630095409.jpg') no-repeat top;
  background-size: cover;
  color: white;
  .Block__Contents {
    margin-top: 5em;
    .titleText3 {
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 4s, transform 4s;
    }
    .titleTextTransition3 {
      opacity: 1;
      transform: none;
    }
    @media (max-width: $mobile) {
      margin-top: 0.5em;
      h3 {
        font-size: 1.75em;
      }
    }
  }
  li {
    font-size: 1.3em;
    padding-bottom: 1em;
    @media (max-width: $mobile) {
      @media (max-height: 768px) {
        font-size: 1em;
        padding-bottom: 0.5em;
      }
    }
    span {
      color: green;
      padding-left: 5px;
    }
    .checkMark {
      opacity: 0;
      transition: opacity 3s, transform 3s;
    }
    .checkMarkTransition {
      opacity: 1;
      transform: none;
    }
  }
  .downArrow {
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
    bottom: 10px;
    align-items: center;
    text-align: center;
  }
}

.Block_PrimaryBg {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/shutterstock_9263629.jpg') no-repeat top;
  background-size: cover;
  color: white;
  .Block__Contents {
    margin-top: 5em;
    .titleText2 {
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 4s, transform 4s;
    }
    .titleTextTransition2 {
      opacity: 1;
      transform: none;
    }
    .quote {
      opacity: 0;
      transform: translateX(10em);
      transition: opacity 4s, transform 4s;
    }
    .quoteTransition {
      opacity: 1;
      transform: none;
    }
    @media (max-width: $mobile) {
      margin-top: 0.5em;
      .titleText2 {
        font-size: 2em;
      }
      @media (max-height: 700px) {
        h2 {
          font-size: 1.75em;
        }
        p {
          font-size: 0.9em;
        }
      }
    }
  }
  .downArrow {
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
    bottom: 10px;
    align-items: center;
    text-align: center;
  }
}

.Values_Block {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/shutterstock_1169075993.jpg') no-repeat top;
  background-size: cover;
  @media (max-width: $mobile) {
    background: url('/img/values_background_mobile.jpg') no-repeat;
    background-position: 50% 70%;
  }
  color: white;
  .Block__Contents {
    margin-top: 5em;
    .titleText4 {
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 4s, transform 4s;
    }
    .titleTextTransition4 {
      opacity: 1;
      transform: none;
    }
    @media (max-width: $mobile) {
      margin-top: 0.5em;
      .titleText4 {
        font-size: 1.5em;
      }
      @media (max-height: 700px) {
        p {
          font-size: 0.8em;
        }
      }
    }
  }
  .downArrow {
    position: absolute;
    left: 50%;
    margin-bottom: 10px;
    bottom: 10px;
    align-items: center;
    text-align: center;
  }
}

.Roadmap_Block {
  position: relative;
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  width: calc(100%);
  background-color: black;
  flex-wrap: wrap;
  background: url('/img/shutterstock_1958659744.jpg') no-repeat top;
  background-position: 60% 0%;
  @media (max-width: $mobile) {
    background-position: 50% 60%;
  }
  background-size: cover;
  color: white;
  .Block__Contents {
    margin-top: 5em;
    .titleText5 {
      opacity: 0;
      transform: scale(1.2);
      transition: opacity 4s, transform 4s;
    }
    .titleTextTransition5 {
      opacity: 1;
      transform: none;
    }
    @media (max-width: $mobile) {
      margin-top: 0.5em;
    }
  }
}

.HeroButtonGroup {
  justify-content: space-between;
  .buyMooney {
    margin-right: 0em;
  }
  @media (min-width: ($mobile + 1)) {
    display: flex;
    .Button:not(:first-child) {
      margin-left: 25px;
    }
  }
  @media (max-width: 925px) {
    display: flex;
    flex-direction: column;
    .Button:not(:first-child) {
      margin-top: 15px;
    }
  }
}

.BigHero {
  width: calc(100%);
  background-color: black;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  h1 {
    font-size: 3em;
    color: #d7d9d4;
    @media (max-width: 925px) {
      font-size: 1.75em;
      margin-bottom: 0px;
    }
    span {
      display: block;
      font-size: 0.5em;
    }
  }
  @media (max-width: $grid) {
    width: calc(100%);
  }
}

.NFTContainer {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-wrap: wrap;
  width: 100%;
  min-height: 50vh;
  @media (max-width: 925px) {
    flex-direction: column;
    justify-content: center;
  }
}

.NFTBox {
  min-height: 90%;
  width: 40%;
  margin-top: 1em;
  min-width: 350px;
  justify-self: start;
  margin-right: 5%;
  display: flex;
  border-radius: 3em;
  box-shadow: -2px 0.5em 2em 2px #b7b8b4, 2px 2px 6px #f7faf4;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  @media (max-width: $mobile) {
    min-width: 350px;
    margin-right: 0%;
    @media (max-width: ($mobile - 368)) {
      min-width: calc(100%);
    }
  }
}

.NFTInfo {
  min-height: 90%;
  padding: 2em;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (max-width: 925px) {
    padding: 1em;
    padding-top: 0em;
    justify-content: center;
    min-width: calc(100%);
  }

  p {
    font-style: $heading-font;
    font-weight: bold;
    font-size: 1.5em;
    color: #d7d9d4;
    margin-top: 1em;
  }

  a {
    background-color: black;
    border: 2px solid #d7d9d4;
    padding: 1.5em;
    min-width: calc(45%);
    text-align: center;
    border-radius: 3em;
    box-shadow: -2px 0.25em 1em 2px #b7b8b4, 2px 2px 6px #f7faf4;
    padding: 1.5em;
    border-radius: 0.5em;
    color: #d7d9d4;
    &:first-child {
      margin-right: 2em;
    }
    @media (max-width: 925px) {
      margin-bottom: 1.5em;
      min-width: calc(100%);
    }
    &:hover {
      color: $primary;
    }
  }
  .Mint-btn {
    background-image: linear-gradient(to right, #0affe2, #7f32fc);
    color: #fff;
    box-shadow: none;
    border: none;
    margin-right: 0;
    margin-top: 30px;
    margin-bottom: 40px;
    font-weight: bold;
    height: 78px;
    img {
      height: 40px;
      margin: 0 10px;
    }
    .arrow-icon {
      height: 22px;
    }
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .countdownContainer {
    display: flex;
    direction: column;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
    .countdownSeperator {
      display: flex;
      direction: row;
    }
  }

  .countdown {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
  }

  .timer {
    margin-top: 0.5em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .timerText {
    text-align: center;
    font-family: $body-font;
    font-weight: bold;
    font-size: 0.75em;
    color: #d7d9d4;

    .timerTime {
      font-size: 2em;
    }
  }
}

#community {
  #community_actions {
    margin: 20px 0;
    justify-content: start;
    .multisigDonation {
      @media (max-width: 768px) {
        font-size: 0.7em;
      }
    }
  }
  .Button {
    margin-right: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.Social {
  display: flex;
  margin-top: 1em;
  a {
    margin-right: 15px;
    width: 36px;
    height: 36px;
    transition: all 0.15s linear;
    svg {
      width: 36px;
      height: 36px;
      path {
        fill: $secondary;
      }
    }
  }
  a:hover svg path {
    transition: all 0.15s linear;
    fill: $tertiary;
  }
}

.Roadmap {
  .roadmap-moon-icon {
    font-size: 4.5em;
    padding-bottom: 20px;
  }
}

.Home {
  margin-top: -106px;
  background-color: black;
  @media (max-width: $mobile) {
    margin-top: -76px;
  }
  .Carousel {
    position: relative;
    width: 50%;
    .Overlay {
      background-color: rgba(14, 15, 53, 0.85);
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      z-index: 0;
    }
    &__Slide {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      .SlideBg {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
      }
      .Content {
        position: absolute;
        right: 50px;
        top: 50px;
        text-align: right;
        max-width: 420px;
        z-index: 3;
        h4 {
          font-size: 1em;
        }
        p {
          font-size: 1.25em;
        }
      }
    }
    @media (max-width: $grid) {
      width: 100%;
      min-height: 420px;
      .Content {
        h4 {
          font-size: 0.75em;
        }
        p {
          font-size: 1em;
        }
      }
    }
  }
}

.SocialItem {
  .SocialIcon {
    width: 60px;
    height: 60px;
    &:hover {
      transform: scale(1.5);
    }
    svg {
      width: 60px;
      height: 60px;
    }
  }
  &:nth-of-type(1) svg {
    fill: $red;
  }
  &:nth-of-type(2) .SocialIcon svg {
    width: 42px;
    path {
      fill: $yellow;
    }
  }
  &:nth-of-type(3) svg {
    fill: $secondary;
  }
}

.Built {
  font-size: 0.75em;
  color: white;
}

.ResponsiveIframe {
  position: absolute;
  width: 100%;
  height: 100%;
}
